[% id = 'about' -%]
    <div id="photocenter">
      <h2>
		Our 60th Anniversary at Wandsworth Museum on 11th October 2013
      </h2>
	  <p>
        <img src="images/Jubilee_cake_small.jpg" alt="Cake">The Jubilee Cake<br />
	  </p>
	  <p>
        <img src="images/Mayor_cuts_cake_small.jpg" alt="Mayor">The Mayor of Wandsworth, Angela Graham<br />
      </p>
	</div>
